body{
    background-color:#F0F2F5;
    box-sizing: border-box !important;
}


.hero{
    min-height: 300px;
    /* border:1px solid blue; */
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}


.editor-capa{
    position: absolute;
    bottom: 5%;
    right: 10px;
    /* transform: translateX(-80%); */
   
}

#arquivo{
    display: none !important;
}

.editor-capa button{
    background-color:#F0F2F5;
    color: black;
}
.editor-capa button:active{
    box-shadow: none !important;
}

.editor-capa button:hover{
    background-color:#c5c8ce;
    color: black;
}

/* #btn-file{
appearance: button;
} */

.out{
    outline: 1px solid orange;
}

#main-banner{
    max-width: 940px;
    max-height: 528.75px;
}

.bg-dark-100{
    background-color:#292927;;
}
/* ICONES */
.icon-fb:hover{
    background-color: lightgray;
}

.btn-fundo{
    padding: 0px 15px !important;
    /* outline: 1px solid red; */
}

.btn-fundo:hover{
    background:lightgray;
}



.btn-back{
    border-radius: 50%;
    background-color: #e4e6eb;
    width: 40px;
    height: 43px;
    text-align: center;
    transition: all .3s;
}



.btn-back:hover{
    background-color:lightgray;
}

.stripe{
    padding: 15px 0px;
    border-top: 1px solid #999;
   
}

.azul-face{
    background-color: #1771E6 !important;
}

.h-100{
    min-height: 100vh;
}

.h-20{
    min-height:20vh;
}

.c-light{
    background-color: #fff;
}
.c-img-round{
    border: 5px solid #fff;
    border-radius: 50%;
}

.profile{
    margin-top: -10px;
    position: relative;
    max-height: 1px;
    margin-bottom: 50px;
}
.subir{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateY(-90%) !important;
    transform: translateX(-50%);
    /* top: -140px; */
    
}

.gray{
    background-color: #f0f2f5;
}

.principal{
    background-color: #F0F2F5;
}

.col-e{
    background-color: #fff;
    /* min-height: 300px; */
    border-radius: 15px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

.info{
    color: gray;
    margin: 7px 0px;
}

.col-d{
    background-color: #fff;
    min-height: 300px;
    border-radius: 15px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}



.c-card .card-header{
  background-color: #fff;
}

.c-card{

    border-radius: 15px !important;
    margin-bottom: 15px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    /* border-top-left-radius: 15px; */
}
.c-search-round{
    border-radius: 12px;
    background-color: #F0F2F5;
    border:none !important;
    padding: 5px 0px;
    
}

.c-img-round-b0{
   
    border-radius: 50%;
}

.vidro{
    background-color: transparent;
    transition: all .3s;
    border-radius: 10px;
}

.vidro:hover{
    background-color:#f0f2f5;
}

.red-color{
    color: red;
}

.like-indicator{
    text-align: center;
    color: #fff;
    line-height: 25px;
    background-color:#1771E6;
    border-radius: 50%;
    height: 25px;
    width: 25px;
}

.cont-comentarios p{
    color: gray;
    text-decoration: none !important;
    color: gray;
}
.cont-comentarios p:hover{
    text-decoration: underline !important;
}

.post-footer{
    width: 98% !important;
    border-top: none !important;
    /* border-right: none !important; */
    /* border-left: none !important; */
    border: 1px solid gray;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #fff;
}

.interacao{
    width: 90%;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  margin-bottom: 15px;
  padding-bottom: 10px;
    
}

.autor-reacao .media{
    width: 80%;
}

.input-comentario{
    border-right: none !important;
    background-color: #F0F2F5;
    box-shadow: none !important;
    padding: 25px 0px !important;
    border-radius: 15px;
}

.input-comentario-2{
    border: none !important;
    background-color: #F0F2F5 !important;
    box-shadow: none !important;
}
.input-group-text{
  background-color: #fff !important;
  border-left: 0 !important;
  border-left-color: tomato !important;
  border-left: none !important;
  background-color: yellow;
}

.c-bg{
    background-color:#F0F2F5 !important;
    font-size: 25px !important;
    border-radius: 17px;
}

.card-love{
    position: relative;
    padding: 5px;
    transition: all .4s;

}
.card-love:hover{
    background-color:#F0F2F5;
}

.ela{
position: relative;
 left: -5px;
}

.juntar-coracao{
    position: relative;
}
.coracao{
    font-size: 35px;
    color: #fff;
    background-color:#1771E6;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    position:absolute;
    top: -35px;
    left: 60px;
}

/* BARRA DE NAVEGAÇAO */
.barra-navegacao{
    background-color: #fff !important;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
    
}

.grudar-topo{
    position: sticky;
    top: 50px;
}



.fa-facebook-official{
 font-size: 50px;
 color: #1771E6;
}

.pesquisa-topo{
    border-radius: 40px;
    background-color: #f0f2f5;
    border: none;
    width: 300px !important;
    height: 40px !important;
}


/* FONTAWESOME NO PLACHOLDER */
input.pesquisa-topo {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.pesquisa-topo:active{
    box-shadow: 0px 0px 0px 0px transparent !important;
}

nav .form-control{
    background-color: #f0f2f5 !important;
    box-shadow: none;

}

@media (max-width:900px){
    .pesquisa-topo{
        width: 40px !important;
    }
    .nav-link{
        margin-right: 0px !important;
    }

    .navbar-brand{
        /* outline: 1px solid green; */
        padding-left: 0px  !important;
    }

}


/* CARTAO DO AMIGO */

.card-grid-amigos > .card-header{
    border:none;
    padding-bottom: 0;
}

.card-grid-amigos > .card-header a{
    padding: 4px;
}
.card-grid-amigos > .card-header a:hover{
    text-decoration: none;
    background-color: #F0F2F5;
   
}



.card-amigo{
    height: 150px !important;
    width: 150px !important;
    margin-bottom: 10px;
}

.card-amigo .amigo-img-holder{
    width: 100%;
    padding: 0px !important;
    height: 110px !important;
    overflow: hidden;
}

.card-amigo .amigo-img-holder img{
    width: 150px; 
    /* transform: ; */
     /* transform: translateX(5px); */
    /* transform: translateY(-10px); */
}

.card-amigo{
    width: 100px;
    height: 100px;
    border: 1px solid transparent;
}


.card-amigo .card-footer{
    max-height: 10px;
    text-align: center;
    padding: 3px !important;
    background-color: #fff;
    border: none !important;
}


.f-50{
    font-size: 30px !important;
    color: gray;
    line-height: 30px;
}

.f-40{
    font-size: 28px !important;
    color:  gray;
    line-height: 30px;
    font-weight: normal !important;
}

.nav-item{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px 0px;
    padding: 1px 20px;
    border-radius: 7px;
    padding:5px !important;
}


/* AQUI */

.nav-item.back:hover{
    text-align: center;
    padding: auto;
    background-color: #F0F2F5;
}



/* RODAPÉ */

footer p{
    font-size: 13px;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
footer small{
    font-size: 12px;
    margin-top: -1px;
    color: gray;
    padding-top: 0px !important;
}
footer a{
    text-decoration: none;
    color: gray;
}

footer a:hover{
 text-decoration: none;
 color: gray;
}


